ez_setup
wheel
setuptools
PyAudio
playsound==1.2.2
pywhatkit
pyttsx3
SpeechRecognition
cmake
dlib
face-recognition
numpy
opencv-python
datetime
wikipedia
subprocess.run
chromedriver
webdriver_manager
browser
python-time
requests
selenium
bs4
click
random2
googlesearch-python
google-search
mediapipe
imutils
phonenumbers
cvzone
pywinauto
keyboard
pyinstaller
sentence_transformers
transformers
InstructorEmbedding
google-generativeai
einops
accelerate
langchain
bitsandbytes
colorama
pygame
imageio
pydub
gtts
pyglet
