torch==2.0.1
transformers>=4.38.2
timm>=0.9.16
accelerate
sentencepiece
attrdict
einops
flash_attn==2.3.4
#re
ez_setup
wheel
setuptools
PyAudio
playsound==1.2.2
pywhatkit
pyttsx3
SpeechRecognition
cmake
dlib
face-recognition
numpy
opencv-python
datetime
wikipedia
subprocess.run
chromedriver
webdriver_manager
browser
python-time
requests
selenium
bs4
click
random2
googlesearch-python
google-search
mediapipe
imutils
phonenumbers
cvzone
pywinauto
keyboard
pyinstaller
sentence_transformers
transformers
InstructorEmbedding
google-generativeai
einops
accelerate
bitsandbytes
colorama
pygame
imageio
pydub
gtts
pyglet
python-dotenv
pathlib
# RAG
langchain-community
faiss-cpu
huggingface_hub
sentence-transformers
unstructured
docx2txt

langchain
langchain-ollama
ollama

# TTS
edge_tts
asyncio
